@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;

}

tbody:before {
    line-height: 2em;
    content: "\200C";
    display: block;
    background-color: #F3F3F3;
}