@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;

}

table th {
    text-wrap: nowrap;
}

tbody:before {
    line-height: 2em;
    content: "\200C";
    display: block;
    background-color: #F3F3F3;
}

.loader {
    width: 30px;
    height: 30px;
    border: 2px solid #1A5A52;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}